ErrorDocument 400 /errors/erreur.php?erreur=400
ErrorDocument 401 /errors/erreur.php?erreur=401
ErrorDocument 402 /errors/erreur.php?erreur=402
ErrorDocument 403 /errors/erreur.php?erreur=403
ErrorDocument 404 /errors/erreur.php?erreur=404
ErrorDocument 405 /errors/erreur.php?erreur=405
ErrorDocument 500 /errors/erreur.php?erreur=500
ErrorDocument 501 /errors/erreur.php?erreur=501
ErrorDocument 502 /errors/erreur.php?erreur=502
ErrorDocument 503 /errors/erreur.php?erreur=503
ErrorDocument 504 /errors/erreur.php?erreur=504
ErrorDocument 505 /errors/erreur.php?erreur=505